<div class="flex-container">
  <md-card class="temp-card">
    <md-card-header>
      <div md-card-avatar class="mexico-header-image"></div>
      <md-card-title>Santiago</md-card-title>
      <md-card-subtitle>Mexico</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/Santiago_Chile.jpg">
    <md-card-content>
      <p>
      Temperature: 
      </p>
    </md-card-content>
  </md-card>

  <md-card class="temp-card">
    <md-card-header>
      <div md-card-avatar class="argentina-header-image"></div>
      <md-card-title>Buenos Aires</md-card-title>
      <md-card-subtitle>Argentina</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/Buenos_Aires.jpg">
    <md-card-content>
      <p>
      Temperature: 
      </p>
    </md-card-content>
  </md-card>

  <md-card class="temp-card">
    <md-card-header>
      <div md-card-avatar class="peru-header-image"></div>
      <md-card-title>Lima</md-card-title>
      <md-card-subtitle>Peru</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/Lima.jpg">
    <md-card-content>
      <p>
      Temperature: 
      </p>
    </md-card-content>
  </md-card>

  <md-card class="temp-card">
    <md-card-header>
      <div md-card-avatar class="brazil-header-image"></div>
      <md-card-title>Sao Paulo</md-card-title>
      <md-card-subtitle>Brazil</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/Sao_Paulo.jpg">
    <md-card-content>
      <p>
      Temperature: 
      </p>
    </md-card-content>
  </md-card>
</div>
